@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

body {
    font-family: 'Montserrat', sans-serif !important;
}

.navbar-brand {
    font-family: 'Kaushan Script', cursive;
}

.nav-link:active,
.nav-link:hover,
.nav-link:focus {
    color: rgb(255, 219, 13) !important;
}

#top {
    background: url(images/header-bg.jpg)no-repeat center;
    background-size: cover;
    height: 550px;
}

#top h2 {
    font-size: 60px !important;
}

#portfolio .col-12 .hover{
display: none;
}

#portfolio .col-12:hover .hover {
    border: none;
    box-shadow: none;
    font-size: 90px;
    color: white;
    background-color: rgba(255, 219, 13, 0.918) !important;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#title::after {
    content: "";
    border: 1px solid rgba(160, 160, 160, 0.381);
    position: absolute;
    height: 98em;
    z-index: -1;
    top: 11rem;
}

#about-be-part {
    width: 10rem;
    border: 9px solid rgb(213, 212, 212);
}

#about img,
#team .img-fluid {
    border: 9px solid rgba(219, 216, 216, 0.7);

}

#contact {
    background: linear-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
        url(/images/contact2.jpg) no-repeat;
    background-size: cover;
}

::placeholder {
    opacity: 0.5;
}

@media screen and (max-width:767px) {
    #top h2 {
        font-size: 40px !important;
    }

    #title::after {
        left: 55px;
    }

    #about img {
        width: 55% !important;
    }

    #about-be-part {
        width: 7rem;
    }
}

@media screen and (max-width:500px) {
    #top h2 {
        font-size: 20px !important;
    }

    #top h1 {
        font-size: 16px !important;

    }

    #about img {
        width: 70% !important;
    }

    title::after {
        height: 136em;
        left: 60px;
    }

}